.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slider-images {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: opacity 1s ease-in-out;
}

img {
  width: 100%;
  vertical-align: middle;
}
