* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  border: 1px solid #000;
  display: inline-block;
}

#padding1 {
  padding: 20px;
}

#padding2 {
  padding: 10px 20px;
}

#padding3 {
  padding: 30px 50px 40px;
}

#padding4 {
  padding-right: 20px;
}