/* 
! 섹션 태그 내의 h2 태그 
글자색 (#333)

! 테이블 테두리 설정 1px solid #ddd
각 셀 텍스트 정렬 왼쪽

*/

/* !전체 페이지 설정 */
body {
  color: #333;
  line-height: 1.6;
}

/* !링크 태그 설정 */
a {
  color: #007bff;
  text-decoration: none;
}

/* !링크에 호버 시 설정 */
a:hover {
  text-decoration: underline;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* nav 태그 내의 ul 지정 */
nav ul {
  background-color: #444;
  list-style-type: none;
  text-align: center;
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  background-color: #555;
}

section h2 {
  color: #333;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
}