.slider {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.slider-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: opacity 1s ease-in-out; /* Smooth transition */
  opacity: 1;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
